
body{ color: black; background: #EFEFEF; margin: 0; }
*{ padding: 0; margin: 0; }
hr{ height: 0; border: none; border-top: 1px solid #dedede; }
a{ text-decoration: none; color: inherit; }
ul, ol{ list-style: none; }
h1,h2,h3,h4,h5,h6{ font-weight: normal; }
/* 清除浮动，对父元素进行清除 */
.clearfix::after{ content: ''; display: block; clear: both; }

[data-menu].offset{
    transform: translateY(100px);
}

[data-menu]{
    transform: translateY(0);
    transition: all 0.5s ;
}

.topNavBar{ padding: 20px 0px 20px 0px; /* 脱离文档流 */ position: fixed; top:0px; left: 0px; width: 100%; transition: all 0.6s; color: #B7B7B7;}
.topNavBar.sticky{background: white; padding: 8px 0; z-index: 1;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19); color:#3d4451;}
.topNavBar-inner{ padding: 0 16px;}
.topNavBar nav{ font-size: 13px; padding-top: 5px; padding-bottom: 8px; }
.topNavBar nav>ul{ list-style: none; margin: 0; padding: 0; }
.topNavBar nav>ul>li{ float: left; margin-left: 17px; margin-right: 17px;position: relative; }
.topNavBar nav>ul>li>a{ font-size: 12px; color:inherit; font-weight: bold; text-decoration: none; border-top: 3px solid transparent; border-bottom: 3px solid transparent; padding-bottom: 5px; padding-top: 5px; display: block; position: relative;}
.topNavBar nav>ul>li.active >a::after,
.topNavBar nav>ul>li.highlight >a::after{ content: ''; display: block; position: absolute; background: #e06567; top:100%; left: 0; width: 100%; height: 3px; animation: menuSlide 0.3s; }
@keyframes menuSlide{ 0%{ width:0; } 100%{ width:100%; } }
.topNavBar .submenu{ display: none; position: absolute; right: 0; top:100%; background: white; color:#3d4451; animation: submenuSlide 0.3s; }
@keyframes submenuSlide{ 0%{ /* 百分比取父元素的长度 */ margin-right: 100%; } 100%{ margin-right: 0%; } }
.topNavBar .submenu>li{ white-space: nowrap; padding: 5px 10px; }
.topNavBar li.active> .submenu{ display:block; }
.topNavBar .logo{ font-family: "Arial Black"; font-size: 22px; padding-top: 7px; padding-bottom: 0px; }
.topNavBar .logo .rs{ color: #e06567; margin-right: 4px; }
.topNavBar .logo .card{ color: #9A9DA2; }

.banner{ height: 515px; background-image: url(../img/rs-cover.jpg); background-position: center center; /* 图片尺寸自适应 */ background-size: cover; }
.banner .mask{ /* 宽度自适应 */ height: 515px; background-color:rgb(0,0,0,0.8); }

.userCard{ /* 自适应 比固定width好 */ max-width: 928px; /* div水平居中 */ margin-left: auto; margin-right: auto; background-color: #FFFFFF; box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5); }
.userCard .welcome{ background: #e6686a; color: white; display: inline-block; /* width: 70px; height: 29px; */ padding: 4px 16px; position: relative; margin-bottom: 10px; line-height: 22px; }
.userCard .welcome .triangle{ display: block; border: 10px solid transparent; width: 0 px; border-top-color:  transparent; border-left-color: #E6686A; border-right-color: transparent; border-top-width: 0px; position: absolute; left: 10px; top: 100%; }
.userCard .picture{ float: left; }
.userCard .text{ float: left; margin-left: 55px; width: 460px; }
.userCard .text h1{ margin-top:18px; }
.userCard .text hr{ margin:20px 0; }
.userCard .text p{ margin-top: 4px; }
.userCard .text dl dt,
.userCard .text dl dd{ float: left; padding: 5px 0; }
.userCard .text dl dt{ width: 30%; font-weight: bold; }
.userCard .text dl dd{
    width: 70%; color: #9da0a7; } .userCard .pictureAndText{ padding: 50px; }
.userCard > footer.media{ background-color: #E6686A; text-align: center; }
.userCard > footer.media > a{ border-radius: 50%; display: inline-block; width: 40px; line-height: 30px; padding: 5px 0; margin: 16px 10px; }
.userCard > footer.media > a:hover{ background: #CF5D5F; }
.userCard svg{ width: 30px; height: 30px; fill:white; vertical-align: top; }

body > main{ margin-top: -340px; }
body > main .downloadResume{ font-size: 14px; line-height: 16px; padding: 22px 55px; border: 1px solid #cdcfd1; background: #EFEFEF; display: inline-block; border-radius: 2px; color: #3d4451; font-weight: bold; margin: 32px 0; transition: box-shadow 0.2s; }
body > main .downloadResume:hover{box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);}
body > main .selfIntroduction{ max-width: 928px; margin-left: auto; margin-right: auto; text-align: center; font-family: kai; font-size: 16px; }

section.skills,
section.portfolio{ max-width: 928px; margin-left: auto; margin-right: auto; margin-top: 60px; }
section.skills >h2 ,
section.portfolio >h2 { color: #3d4451; font-size: 28px; line-height: 1.2; font-weight: 600; text-align: center; }
section.skills >ol { background: white; box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5); padding: 42px 50px 10px; margin-top: 20px; }
section.skills >ol >li{ box-sizing: border-box; padding-right: 20px; width: 50%; float: left; }
section.skills >ol >li > h3 { font-size: 14px; line-height: 1.1; padding-right:40px ; }

section.skills .progressBar{ height: 4px; background: #FBE1E2; border-radius: 2px; margin: 4px 0 40px; border-radius: 2px; overflow: hidden;}
section.skills .progressBar .progress{ background:#E8686A ; height: 100%; width: 80%; border-radius: 2px; 
    transform: translateX(0);
    transition: all 1s;
}
section.skills.offset .progress{
    transform: translateX(-100%);
}
section.portfolio{ text-align: center; }
section.portfolio > nav{ text-align: center; display: inline-block; vertical-align: top; margin-top: 32px; }
section.portfolio > nav > ol{ margin: 0 auto; display: inline-block; vertical-align: top; }
section.portfolio > nav > ol >li{ float: left; margin-left:40px; cursor: pointer; }
section.portfolio > nav > ol >li:first-child{ margin-left: 0; }
section.portfolio > nav .bar{ height: 5px; background: white; margin-top: 5px; margin-bottom: 30px; border-radius: 2px; }
section.portfolio > nav .bar .bar-inner{ height: 100%; background:#E8686A ; width: 15%; border-radius: 2px; transition: all 0.3s; }
section.portfolio > nav .bar.state-1 .bar-inner{ height: 100%; background:#E8686A ; width: 16%; border-radius: 2px; }
section.portfolio > nav .bar.state-2 .bar-inner{ height: 100%; background:#E8686A ; width: 24%; border-radius: 2px; margin-left: 60px; }
section.portfolio > nav .bar.state-3 .bar-inner{ height: 100%; background:#E8686A ; width: 42%; border-radius: 2px; margin-left: 138px; }
section.portfolio .works{ position: relative; height: 576px; margin-bottom: 80px; }
section.portfolio .works .big{ position: absolute; top: 0; left: 0; }
section.portfolio .works .small-1{ position: absolute; top: 0; left: 629px; }
section.portfolio .works .small-2{ position: absolute; top: 298px; left: 629px; }